body {
    font-family: "Poppins", sans-serif;
    background-color: white;
    margin: 0; 
    padding: 0;
}

header {
    position: fixed;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: #8E51ED;
}

img {
    border-radius: 10px;
}

.logo {
    padding-top: 10px;
    font-size: 24px;
    font-weight: bold;
    margin-left: 2%;
}

.nav-buttons {
    display: flex;
    gap: 10px;
    margin-right: 2%;
}

.nav-buttons a {
    text-decoration: none;
    padding: 20px 20px;
    background-color: #8E51ED;
    color: white;
    border-radius: 40px;
}

.nav-buttons a:hover {
    background-color: #6a3db2;
}

.nav-buttons .cadastro {
    background-color: #FC4A45;
    font-weight: bold;
}

.nav-buttons .cadastro:hover {
    background-color: #a42d28;
}

.nav-buttons .entrar {
    background-color: #F1C411;
    background-color: #008CFF;
    font-weight: bold;
}

.nav-buttons .entrar:hover {

    background-color: #f1c411a2;

    background-color: #005ba6;

}

.banner {
    color: white;
    text-shadow: rgb(0, 0, 0) 5px 5px 10px;
    background-image: url('imagens/layout/CrecheFoto.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    padding: 7%;
    border-top: 7%;
}

.banner h1 {
    text-align: left;
    font-size: 42px;
    margin: 0;
    padding: 0;
}

.banner p {
    font-weight: 400;
    text-align: left;
    font-size: 24px;
    margin: 0;
    padding: 0;
}

.banner a {
    justify-content: justify;
    text-decoration: none;
    color: white;
    background-color: #ffffff2f;
    border-color: #ffffff;
    border-style: solid;
    border-radius: 20px;
    padding: 15px 20px;
    font-weight: bold;
}

.banner .quero-ajudar:hover {
    background-color: #8181812f;
    border-color: #c6c6c6;
}

.impacto {
    padding: 20px 7%;
    color: black;
    display: flex;
    justify-content: space-between;
    align-items: left;
    background-color: #ffffff;
}

.impacto h1 {
    display: flex;
    text-shadow: rgba(0, 0, 0, 0.527) 1px 1px 2px;
    font-size: 52px;
    font-weight: bold;
    color:#FC4A45
}

.impacto-itens {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 64px;
}

.impacto-imagem {
    padding-top: 5%;
    justify-content: right;
}

.impacto img {
    box-shadow: rgba(0, 0, 0, 0.193) 0px 0px 25px;
    border-radius: 20px;
}

.eventos {
    display: flex;
    justify-content: justify;
    gap: 0px;
    width: 100%;
    padding: 20px 7%;
    color: black;
    background-color: #ffffff;
}

.eventos h1 {
    display: flex;
    font-size: 28px;
    font-weight: bold;
    color:black
}

.eventos img {
    border-radius: 0px;
}

.eventos-itens {
    display: grid;
    align-items: center;
    grid-template-columns: repeat(2, 1fr);
    gap: 3%;
    
}

.eventos-subtitulo {
    color: black;
    font-weight: bold;
    font-size: 20px
}

.eventos-descricao {
    color:#828282;
    font-size: 15px
}

.membros {
    max-width: 100%;
    display: flex;
    padding: 20px 7%;
    justify-items: center;
    text-align: center;
    color: black;
    background-color: #ffffff;
}

.membros h1 {
    display: flex;
    font-size: 28px;
    font-weight: bold;
    color:black
}

.membros-1fileira {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-content: space-evenly;
    gap: 100px;
    
}

.membros-2fileira {
    display: grid;
    justify-content: space-evenly;
    grid-template-columns: repeat(6, 1fr);
    gap: 10px;
}

.membros-3fileira {
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(8, 1fr);
    gap: 20px;
}

.membros-3fileira img {
    border-radius: 5px;
}

.membros1-nome {
    color: black;
    font-weight: bold;
    font-size: 20px
}

.membros1-descricao {
    color:#828282;
    font-size: 15px
}

.membros2-nome {
    color: black;
    font-weight: bold;
    font-size: 15px
}

.membros2-descricao {
    color:#828282;
    font-size: 10px
}

.marcas {
    gap: 0px;
    padding: 20px 0;
    color: black;
    display: flex;
    justify-content: center;
    background-color: #ffffff;
}

.marcas h1 {
    display: flex;
    justify-content: center;
    font-size: 28px;
    font-weight: bold;
    color:black
}

.marcas-imagem {
    display: flex;
    grid-template-columns: repeat(5, 1fr);
    gap: 32px;
    margin: 0 350px;
} 

.footer-box {
    line-height: 8px;
    display: flex;
    grid-template-columns: repeat(2, 1fr);
    justify-content: space-between;
    align-items: center;
    padding: 10px 10px;
    background-color: #8E51ED;
}

.footer-contato {
    color: #FFEA00;
    text-decoration: none;
    font-weight: bold;
}

.footer-texto {
    color: #ffffff;
    text-decoration: none;
    font-weight: bold;
}

.footer-direitos {
    justify-content: right;
    font-size: 12px;
    text-wrap: nowrap;
}

.footer-box a {
    line-height: 42px;
    color: #FFEA00;
    text-decoration: none;
    font-weight: bold;
}

.footer-box a:hover {
    text-decoration: underline;
}

/* ------------------------------------------------------------------------------- CORES ------------------------------------------------------------------------------- */

.preto {
    color: rgb(33, 33, 33);
    text-shadow: rgba(0, 0, 0, 0.527) 1px 1px 2px;
    font-size:52px;
    font-weight: bold;
}

.azul {
    color: #60f7ff;
    text-shadow: rgba(0, 0, 0, 0.527) 1px 1px 2px;
    font-size: 52px;
    font-weight: bold;
}

.cinza{
    color: #828282;
    text-shadow: rgba(0, 0, 0, 0.527) 1px 1px 2px;
    font-size: 26px;
}