body {
    font-family: 'Inter', sans-serif;
    background-color: white;
}
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 10px;
    background-color: #6D28D9;
    border-bottom: 1px solid #4d14aa;
}
.logo {
    font-size: 24px;
    font-weight: bold;
}
.nav-buttons {
    display: flex;
    gap: 10px;
}
.nav-buttons a {
    text-decoration: none;
    padding: 20px 20px;
    background-color: #6D28D9;
    color: white;
    border-radius: 40px;
}
.nav-buttons a:hover {
    background-color: #4d14aa;
}
.nav-buttons .cadastro {
    background-color: #FC4A45;
}
.nav-buttons .cadastro:hover {
    background-color: #a42d28;
}
.nav-buttons .entrar {
    background-color: #52CD51;
}
.nav-buttons .entrar:hover {
    background-color: #1c7d1c;
}